h1{
    color:white;
    font-size: 30px;
}
p{
    color:black;
    font-size: 17px;
}
.landing{
    text-align: center;
    margin-top: 60px;
}
#logo{
    color: #fff;
}
body{
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
    justify-content: center;
}
.mainbody{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    font-size: 30px;
 
}
.grid{
    padding: 20px;
    border: 5px solid whitesmoke;
    font-size: 30px;
    text-align: center;
}
.exp{
    font-size: small;
    text-align: center;
}
.works{
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    font-size: 30px;
    text-align: center;
    color: #fff;

}
.colabgrid{
    padding: 20px;
    border: 5px solid whitesmoke;
    font-size: 30px;
    text-align: center;
    color: #fff;
    align-items: center;    
    
}
footer{
    text-align: center;
    justify-content: baseline;
    border-top: 2px solid #8360c3;
}